.footer {
  /* background: #EBF4DD; */
  color: #222;
  padding: 50px 20px;
  font-family: Arial, sans-serif;
}

.footer-top {
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
  padding: 0 7rem;
}

.footer-about,
.footer-newsletter {
  flex: 1;
  min-width: 260px;
}

.footer h2,
.footer h3 {
  margin-bottom: 15px;
  color: #222;
}

.footer p {
  font-size: 14px;
  line-height: 1.6;
  color: #333;
}

.footer-newsletter form {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.footer-newsletter input {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: none;
  box-shadow: 1px 7px 6px rgba(0, 0, 0, 0.1);
}

.footer-newsletter input:focus{
  border: 2px solid #2c6e49;
}

.footer-newsletter button {
  padding: 10px 16px;
  background: #4c956c;
  border: none;
  color: #fafafa;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.footer-newsletter button:hover {
  background: #2c6e49;
}

.footer-bottom {
  max-width: 1300px;
  margin: 0 auto;
  border-top: 1px solid #333;
  /* padding-top: 20px; */
}

.footer-bottom ul {
  list-style: none;
  padding: 0;
}

.footer-bottom li {
  margin-bottom: 8px;
}

.footer-bottom a {
  color: #ccc;
  text-decoration: none;
  font-size: 14px;
}

.footer-bottom a:hover {
  color: #fff;
}
