.action-bar {
background: #fafafa;
padding: 15px 16px;
border-radius: 6px;
box-shadow: 0 2px 6px rgba(0,0,0,0.08);
display: flex;
gap: 12px;
margin-bottom: 20px;
}


.action-btn {
padding: 15px 14px;
border: none;
border-radius: 4px;
background: #84AE92;
color: #fff;
cursor: pointer;
font-size: 16px;
}

.action-bar .action-btn:hover { background: #629d6c; }

.content-box {
background: #fafafa;
padding: 20px;
border-radius: 6px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
min-height: 400px;
}

.welcome-msg{
  display: flex;
  -content: center;
  align-items: center;
}


.content-box h3 { margin-bottom: 10px; }

.show-actions {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
  min-width: 180px;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

}

.show-actions li {
  padding: 5px 12px;
}

.show-actions li button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 10px;
  background: #ccc;
  border-radius: 5px;
}

.show-actions li button:hover {
  background: #cee0dc;
}

#seller-menu, #user-menu,
#product-menu{
    position: absolute;
    top: 22vh;
    display: none;
}

#seller-menu{
    left: 8rem;
}
#product-menu{
    left: 16rem;
}

#user-menu{
    left: 26em;
}

#admin-menu, 
#seller-account{
    position: absolute;
    top: 75px;
    right: 7em;
    z-index: 9999;
    display: none;
}

.show{
    display: block;
}

.hidden{
    display: none;
}

table{
      width: 100%;
      height: fit-content;
    }
    thead{
      background-color: #7d8d86;
      box-shadow: 2px 7px 12px #7D8D86;
    }
    thead,th, td, tbody, table{
      border: 1px solid black;
      border-collapse: collapse;
      padding: 20px;
      text-align: center;
    }
    tbody button{
      padding: 10px;
      border: none;
      border-radius: 10px;
    }

    tbody button:hover{
      color: #fafafa;
      cursor: pointer;
      background-color: #7d8d86;
      box-shadow: 2px 7px 12px #7D8D86;
    }