main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container {
    max-width: 1200px;
    /* margin: 3rem auto; */
    margin-top: 70px;
    display: flex;
    gap: 1rem;
    padding: 0 1rem;
}

  /* Left column: Product images */
.product-images {
    flex: 1;
}

.main-image {
    width: 500px;
    height: 450px;
    border-radius: 8px;
    margin-bottom: 1rem;
}

  .thumbnail-images {
    display: flex;
    gap: 0.5rem;
  }

  .thumbnail-images img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
  }

  .thumbnail-images img.active {
    border: 2px solid #111;
  }

  /* Right column: Product details */
.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-title {
    font-size: 1.8rem;
    font-weight: bold;
  }

.price, .subtitle{
    font-size: 1.1rem;
    font-weight: bold;
    color: #171515;
}


select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .countquantity{
    display: flex;
    gap: 10px;
  }

  .countquantity button {
    padding: 0 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }

  .countquantity #minus, 
  .countquantity #plus{
    /* border: 1px solid #333; */
    color: white; 
     background-color: #717171;
  }

  /* .countquantity #plus{
    color: blue;
  }

  .countquantity #minus{
    color: red;
  } */

  .add-cart-btn {
    padding: 0.7rem 1.5rem;
    background: #a4a4a4;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 1rem;
    width: max-content;
  }

  .add-cart-btn:hover{
    background-color: rgb(141, 141, 88);
  }