body {
    display: flex;
    justify-content: space-evenly;
    background-color: #dce1de;
}

.sr-modal {
    margin-top: 170px;
    height: 400px;
    width: 600px;
}

.sr-info {
    width: 500px;
    padding: 20px;
}

.sr-form-container {
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}

.sr-modal {
    height: fit-content;
    width: 100%;
    z-index: 999;
}

.sr-modal {
    max-width: 650px;
}

.sr-modal .close-btn {
    position: relative;
    float: right;
    padding: 2px;
    font-size: 1.4rem;
    background: var(--primary-green);
    border: none;
    color: var(--myWhite);
    cursor: pointer;
}

.errormessage {
    float: right;
    color: red;
}

.sr-bar {
    padding: 20px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    /* background-color: #fafafa; */
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1);
}

.sr-bar {
    padding: 30px;
}


hr {
    margin: px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/*Forms styling*/

input[type=email],
input[type=password],
input[type=text],
input[type=tel],
select {
    width: 100%;
    padding: 12px;
    margin: 2px 0;
    background-color: var(--myWhite);
    border: 1px solid rgba(88, 85, 85, 0.6);
    border-radius: 5px;
    font-size: 14px;
}

input[type=text]:focus,
input[type=email]:focus,
input[type=password]:focus {
    border-color: var(--primary-green);
    outline: none;
}

.sr-btn {
    padding: 10px 20px;
    font-size: 1.1rem;
    width: 100%;
    margin: 10px 0px 5px 0px;
    background-color: #55a477;
    border-radius: 8px;
    color: #fff;
    border: none;
}

.sr-btn:hover {
    cursor: pointer;
    background-color: #4c956c;
}

#fp {
    display: block;
    margin-top: 5px;
    text-align: center;
    color: var(--secondary-green);
}

/* Label and icon styling */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

label ion-icons {
    font-size: 1.rem;
    color: #04AA6D;
}