:root{
    --primary-green: #2c6e49;
    --secondary-green: #4c956c;
    --light-green: #94d2bd;
    --light-yellow: #EAE7B1;
    --myWhite : #fafafa;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--primary-green);
}

li{
    list-style-type: none;
}

body{
    font-family: 'Poppins',sans-serif; 
    background-color: #fafafa;
    max-width: 1300px;
    margin: 0 auto;
}

main{
    width: 100%;
}

header{
    position: sticky; 
    top: 0;
    z-index: 99;
    box-shadow: 0 5px 0px rgba(7, 52, 32, 0.05);
}

/* Top navigation bar */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: inherit;
    padding: 5px 5px;
    gap: 1rem;
    background-color: var(--myWhite);
}


.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 3.4rem;
    padding: 5px;
    margin: 2px 5px;
}

.logo-container a{
    font-size: 2rem;
    text-decoration: none;
    color: rgb(13, 12, 12);
}

.search-bar{
    display: flex; 
    align-items: center;
    background-color: var(--myWhite);
    max-width: 500px;
    flex: 1;
    padding: 5px 10px;
    border-radius: 15px; 
    box-shadow: 0 5px 9px rgba(7, 52, 32, 0.05);
    /* overflow: scroll; */
}

.search-field{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    flex: 1;
    padding: 10px;
}

.search-field:focus{
    border-bottom: 1px solid var(--secondary-green);
}

.search-btn{
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.top-right-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.top-right-icons a{
    text-decoration: none;
    color: var(--primary-green);
    font-size: 1.1rem;
}

.top-right-icons a:hover{
    text-decoration: underline;
}

.top-right-icons button{
    border: none;
    background: none;
}

.top-right-icons ion-icon:hover{
    margin-top: 2px;
}

.header-main .user-login{
    border: 1px solid rgb(55, 54, 54);
    border-radius: 2rem;
    padding: 1px 4px;
    transition: 3ms ease-in-out;
}

.header-main .user-login:hover{
    background-color: var(--primary-green);
    color: var(--myWhite);
    cursor: pointer;
    box-shadow: 20px 20px 35px solid rgba(1, 12, 7, 0.34);
}

/* Login/Signup Modal */

.login-modal, 
.register-modal{
    display: none;
}

.login-modal, 
.register-modal
{                      /*SR = Seller Registration*/
    position: fixed;
    height: fit-content;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.login-modal, 
.register-modal{
    max-width: 400px;
}

.sr-modal{
    /* height: 60vh; */
    max-width: 600px;
}

.login-modal .close-btn,
.register-modal .close-btn,
.sr-modal .close-btn{
    position: relative;
    float: right;
    padding: 2px;
    font-size: 1.4rem;
    background: var(--primary-green);
    border: none;
    color: var(--myWhite);
    cursor: pointer;
}

.login-modal .close-btn{
    top: 32px;
    left: 0;
}

.mailError, .passwordError{
    display: none;
    float: right;
    color: rgb(198, 11, 11);
}

.login-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bar,
.register-bar,
.sr-bar {
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1);
}

.sr-bar{
    padding: 30px;
}
/* Title styling */
.login-bar h1 {
    text-align: center;
    margin-bottom: 1.3em;
    color: #333;
    text-shadow: 2px 2px rgb(219, 212, 212);
}

hr {
    margin: px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/*Forms styling*/

input[type=email], 
input[type=password],
input[type=text],
input[type=tel]{
    width: 100%;
    padding: 12px;
    margin:2px 0;
    background-color: var(--myWhite); 
    border: 1px solid rgba(88, 85, 85,0.6);
    border-radius: 5px;
    font-size: 18px;
}

input[type=text]:focus,
input[type=email]:focus, 
input[type=password]:focus {
    border-color: var(--primary-green);
    outline: none;
}

.login-btn,
.buy-link,
.register-btn
{
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.create-btn{
    display: inline;
    font-size: 1rem;
    padding: 15px;
    margin: 15px 80px;
}

.login-btn,
.buy-link,
.create-btn,
.register-btn{
    background-color: var(--secondary-green);
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:hover,
.buy-link:hover,
.register-btn:hover,
.create-btn:hover{
    background-color: var(--primary-green);
}

#fp{
    display: block;
    margin-top: 5px;
    text-align: center;
    color: var(--secondary-green);
}

/* Label and icon styling */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

label ion-icons{
    font-size: 1.rem;
    color: #04AA6D;
}

/* Bottom navigation menu for mobile-devices */
.mobile-bottom-navigation{
    border-top: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 40px;
    margin: auto;
    padding: 15px 10px;
    display: none;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    box-shadow:8px 2px 5px black; ;
}

.action-btn{
    position: relative;
    padding: 0.8rem;
}

.mobile-bottom-navigation ion-icon,
.top-right-icons ion-icon {
   font-size: 1.7rem;  
}

.mobile-bottom-navigation button{
    border: none;
    background: none;
}

.action-btn .badge{
    position: absolute;
    top: 0.4rem;
    right: 0.1rem;
    line-height: 1;
    font-size: 12px;
    color: var(--myWhite);
    padding: 2px 4px;
    border-radius: 50%;
    background-color: var(--primary-green);
}



/*Hero section stylings*/

.hero-section {
    margin: 30px 0;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    overflow: clip;
    /* box-shadow: 10px 10px 25px rgba(7, 9, 8, 0.05); */
}

.hero-banner{
    position :relative;
    height: 450px;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: right;
}

.hbanner-content{
    display: flex;
    flex-direction: column;
    width: 38em;
    height: auto;
    position: relative;
    left: 40px;
    bottom: 320px;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: var(--myWhite);
    box-shadow: 2px 10px 15px rgba(7, 52, 32, 0.05);
}

.hbanner-text h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.hbanner-text p{
    font-size: 20px;
    font-weight: lighter;
}

.hbanner-links{
    margin-top: 30px;
}

.category-section,
.featured-section,
.dfeatured-section,
.cfeatured-secton,
.faq-section,
.footer-section{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    /* border-radius: 20px; */
    background-color: #fafafa;
    /* box-shadow: 10px 10px 25px rgba(7, 9, 8, 0.05); */
    }

.featured-section .view-more,
.dfeatured-section .view-more,
.cfeatured-section .view-more{
    position: relative;
    float: right;
    top: 0;
}

.featured-items,
.dfeatured-items,
.cfeatured-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 10px;
    overflow: scroll;
    scrollbar-width: none;
    flex-wrap: wrap;
}

.featured-items .fitem,
.dfeatured-items .dfitem,
.cfeatured-items .cfitem{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 220px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: 5px;
}

.featured-items .fitem:hover, 
.dfeatured-items .dfitem:hover,
.cfeatured-items .cfitem:hover{
    /* background-color: #ddd; */
    box-shadow: 10px 10px 25px rgba(7, 9, 8, 0.05);
    
}

.fitem-img,
.dfitem-img,
.cfitem-img{
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.fitem-img img,
.dfitem-img img,
.cfitem-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}


.fitem-details,
.dfitem-details,
.cfitem-details{
    height: 30%;
    width: 100%;
    /* background-color: var(--myWhite); */
    padding: 5px;
    text-align: center;
    /* background-color: #cfcfcf; */
}

.fitem-details a,p, 
.dfitem-details a,p, 
.cfitem-details a,p{
    font-size: 18px;
}

.price-wishlist{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
    align-items: center;
}

.wish-btn{
    display: inline;
    color: var(--myWhite);
    background-color: #a4a4a4;
    padding: 8px 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}

.wish-btn:hover,
.newsletter button:hover{
    cursor: pointer;
    background-color: var(--secondary-green);
}


.wishlist-icon,
.add-to-cart{
    position: absolute;
    float: right;
    right: 8px;
}

.wishlist-icon{
    top: 5px;
}

.wishlist-icon ion-icon{
    font-size: 1.7rem;
}

.add-wish{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 50%;
    /* box-shadow: 0 8px 5px rgba(0,0,0,0.1); */
    padding: 4px;
    cursor: pointer;
    transition: background ease-in-out;
}

.add-wish:hover{
    color: white;
    background-color: var(--secondary-green);
}

.category-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.category-items .citem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 170px;
    padding-top: 5px;
    border-radius: 20px;
    }

.citem img,
.fitem img,
.dfitem img,
.cfitem img{
    object-fit: contain;
    overflow: hidden;
    }

.citem a{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: black;
    }

.citem a:hover{
    text-decoration: underline;
}

.lined-info{
    display: flex;
    flex-direction: column ;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 100px 0px 40px 0px;
}

.lined-info h2{
    position: relative;
    z-index: 1;
    color: var(--primary-green);
    background-color: var(--myWhite);
}

.lined-info::before{
    content: "";
    position: absolute;
    top: 30%;
    width: 100%;
    border-top: 1px solid black ;
    z-index: 0;
}

.dog-banner img,
.cat-banner img{
    height: 280px;
    width: 100%;
    object-position: center;
    object-fit: cover;
}


.faqs{
    margin-top: 30px;
}

.faqs .panel{
    display: none;
    padding: 20px;
    font-weight: 200;
}

.faqs li{
    font-weight: 600;
    font-size: 20px;
}   

.show-arrow{
    float: right;
}

.accordion{
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  margin-top: 20px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.footer-section{
    width: 100vw;
    /* color: #ddd; */
    /* background-color: #ddd; */
}

.top-foot{
    display: flex;
    gap: 40px;
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.about-us p{
    font-weight: 300;
    /* color: red; */
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    justify-content: center;
    margin-left: 30px;
    padding: 30px;
}

.newsletter button{
    margin-top: 5px;
    color: var(--myWhite);
    background-color: #a4a4a4;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}

.footer-links{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 30px;
}

.footer-links li{
    list-style-type: none;
}


