.wishlist-modal {
    display: none;
    position: fixed;
    top: 12%;
    left: 65%;
    transform: translateX(-50%);
    width: 450px;
    max-height: 300px;
    padding: 15px;
    border-radius: 8px;
    background-color: #fafafa;
    color: #333;
    overflow-y: scroll;
    scrollbar-width: none;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1);
}

.wishlist-header {
    position: sticky;
    top: 4%;
    margin: 15px;
    font-size: 20px;
    font-weight: bold;
}

.wishlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    border-bottom: 1px solid #444;
}

.wishlists:last-child {
    border-bottom: none;
}

.wish-info {
    padding: 20px;
    font-size: 16px;
}

.wish-actions button {
    margin-left: 5px;
    padding: 10px 10px;
    /* background: #444; */
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.wish-actions button:first-child {
    background: #dc2626;
}

.wish-actions button:first-child:hover {
    background: #7e1010;
}

.wish-actions button:last-child{
    background-color: #4c956c;
}

.wish-actions button:last-child:hover{
    background-color: #227a48;
}
