.account-modal {
  display: none;
  position: fixed;
  top: 10%;
  right: 8%;  
  width: 240px;
  z-index: 999;
  background: #f6f6f6;
  border-radius: 10px;
  padding: 15px 0;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);
}

.guest-account{
  display: block;
}

.user-account{
  display: none;
}

.hidden{
  display: none;
}

/* Guest Section */
.guest-account,
.user-account{
  flex-direction: column;
  padding: 0 20px 10px 20px;
}

.guest-info {
  margin-bottom: 10px;
}

.guest-welcome {
  font-weight: bold;
  font-size: 15px;
}

.guest-text {
  font-size: 13px;
  color: #777;
  margin-bottom: 10px;
  
}

.guest-menu,
.user-menu {
  display: flex;
  flex-direction: column;
}

.guest-menu-item,
.user-menu-item{
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.guest-menu-item:hover,
.user-menu-item:hover{
  background: #edeeee;
}

.icon-login {
  color: #28a745;
  font-size: 1.2rem;
}

.log-modal,
.menu-btn{
    color: #2c6e49;
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

.log-modal:hover{
  cursor: pointer;
}
.icon-create {
  color: #007bff;
}

.icon-seller {
  color: #ffc107;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.user-name-text {
  font-weight: bold;
  font-size: 15px;
}


.icon-profile { color: #007bff;}

.icon-settings { color: #6c757d;}

.icon-history { color: #17a2b8;}

.icon-logout {  color: #d9534f;}

.menu-text {  flex: 1;}

.menu-text:hover{
  cursor: pointer;
}

.menu-divider {  border-top: 1px solid #eee;
  margin: 5px 0;
}
