.action-bar {
background: #fafafa;
padding: 15px 16px;
border-radius: 6px;
box-shadow: 0 2px 6px rgba(0,0,0,0.08);
display: flex;
gap: 12px;
margin-bottom: 20px;
}


.action-btn {
padding: 15px 14px;
border: none;
border-radius: 4px;
background: #4c956c;
color: #fff;
cursor: pointer;
font-size: 16px;
}

.action-bar .action-btn:hover { background: #2c6e49; }

.content-box {
background: #fafafa;
padding: 20px;
border-radius: 6px;
box-shadow: 0 2px 6px rgba(0,0,0,0.1);
min-height: 400px;
display: flex;
justify-content: center;
align-items: center;
}


.content-box h3 { margin-bottom: 10px; }

.show-actions {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  background: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px;
  height: fit-content;
  min-width: 180px;
  z-index: 10;
  box-shadow: 0 4px 20px rgba(0,0,0,0.08);

}

.show-actions li {
  padding: 10px 12px;
}

.show-actions li button {
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;
  font-size: 0.95rem;
  padding: 10px;
}

.show-actions li button:hover {
  background: #ddd;
}

#action-seller, #action-user,
#action-product{
    position: absolute;
    top: 22vh;
}

#action-seller{
    left: 8rem;
}
#action-product{
    left: 16rem;
}

#action-user{
    left: 26em;
}

#account-modal{
    position: absolute;
    top: 75px;
    right: 7em;
    z-index: 9999;
}

.show{
    display: block;
}

.hidden{
    display: none;
}