.cart-modal {
  position: fixed;
  top: 50%;
  left: 50%;  
  width: 800px;
  background-color: #fafafa;
  border-radius: 10px;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
  padding: 20px;
  /* font-family: Arial, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  z-index: 999;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1);
  /* transform: translate(-50%, -50%) scale(0.8); */
  /* pointer-events: none;  */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.cart-modal.show {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  pointer-events: auto; /* Enable interaction when visible */
}


.cart-modal-content{
    background:white;
    width:80%;
    max-width:800px;
    border-radius:10px;
    padding:20px;
    box-shadow:0 10px 30px rgba(0,0,0,0.2);
    animation:pop 0.3s ease;
}

.cart-header {
    display:flex;
    justify-content:space-between;
    align-items:center;
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}

.cart-header h2 {
  margin: 0;
  font-size: 1.3rem;
}

.close-btn {
    color: #2c6e49;
  background: none;
  border: none;
  font-size: 1.9rem;
  cursor: pointer;
}

table{
    width:100%;
    border-collapse:collapse;
    margin-top:20px;
}

thead th{
    font-size: 16px;
    color:#777;
    padding:10px;
}

td{
    text-align:center;
    padding:12px;
    border-bottom:1px solid #eee;
}

td img{
    width:70px;
}

.qty input{
    width:50px;
    padding:5px;
    text-align:center;
}

.delete-btn{
    background:#dc3545;
    color:white;
    border:none;
    padding:6px 10px;
    border-radius:4px;
    cursor:pointer;
}

.delete-btn:hover{
    background:#c82333;
}

/* total */
.total{
    text-align:right;
    margin-top:15px;
    font-size:18px;
}

.total span{
    color:#28a745;
    font-weight:bold;
}

/* footer */
.modal-footer{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.btn{
    padding:10px 18px;
    border:none;
    border-radius:6px;
    cursor:pointer;
    font-size:15px;
}

.btn-close{
    background:#6c757d;
    color:white;
}

.btn-checkout{
    background:#28a745;
    color:white;
}

.btn-checkout:hover{
    background:#218838;
}