/* .loader {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#205324 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
  z-index: 9999;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.loader div {
  animation-delay: 0.1s;
}

.loader::after {
  animation-delay: 0.2s;
} */


.btn-loader{
  width:18px;
  height:18px;
  border:3px solid rgba(255,255,255,0.4);
  border-top:3px solid #fff;
  border-radius:50%;
  animation:spin 0.6s linear infinite;
  margin:auto;
}

@keyframes spin{
  to{ transform:rotate(360deg); }
}
