header{
    position: sticky; 
    top: 0;
    z-index: 99;
    max-width: 1300px;
    margin: 0 auto;
}

.spacing{
    max-width: 1300px;
    margin: 0 auto;
}

.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    width: inherit;
    padding: 5px 5px;
    gap: 1rem;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;
    font-size: 3.4rem;
    padding: 5px;
    margin: 2px 5px;
}



.logo-container a{
    color: #2c6e49;
    font-size: 35px;
    text-decoration: none;
    

    /* color: rgb(13, 12, 12); */
}


.search-bar{
    display: flex; 
    align-items: center;
    background-color: var(--myWhite);
    max-width: 500px;
    flex: 1;
    padding: 5px 10px;
    border-radius: 15px; 
    box-shadow: 0 5px 9px rgba(7, 52, 32, 0.05);
    /* overflow: scroll; */
}

.search-field{
    border: none;
    outline: none;
    background: transparent;
    font-size: 1rem;
    flex: 1;
    padding: 10px;
}

.search-field:focus{
    border-bottom: 1px solid var(--secondary-green);
}

.search-btn{
    background: none;
    border: none;
    border-radius: 10px;
    background-color: #e4e9e7;
    padding: 2px 4px;
    font-size: 24px;
    cursor: pointer;
}

.search-btn:hover{
    border-bottom: 1px solid black;
}

.top-right-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.top-right-icons a{
    text-decoration: none;
    color: var(--primary-green);
    font-size: 1.1rem;
}

.top-right-icons a:hover{
    text-decoration: underline;
}

.top-right-icons button{
    border: none;
    background: none;
}

.top-right-icons .ion-icon:hover{
    margin-top: 4px;
}

.ion-icon{
    height: 35px;
    width: 35px;
}

.header-main .user-login {
    border-bottom: 1px solid rgb(18, 140, 77);
    padding: 3px 6px;
    font-size: 14px;
    border-radius: 2rem;
    transition: 0.2s ease;
    align-items: center;
    transform: scale(0.9);
}

.header-main .user-login:hover {
    cursor: pointer;
    color: #fff;
}

.header-main .active{
    background-color: #1A7F4B;
    color: #ffffff;
}

/* Label and icon styling */
label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #333;
}

.mobile-bottom-navigation{
    border-top: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    max-height: 40px;
    margin: auto;
    padding: 15px 10px;
    display: none;
    justify-content: space-around;
    align-items: center;
    z-index: 999;
    box-shadow:8px 2px 5px black; ;
}

.action-btn{
    position: relative;
    padding: 0.8rem;
    border: none;
    cursor: pointer;
}

.mobile-bottom-navigation ion-icon,
.top-right-icons ion-icon {
   font-size: 1.7rem;  
}

.mobile-bottom-navigation button{
    border: none;
    background: none;
}

.action-btn .badge{
    position: absolute;
    top: 10px;
    right: 5px;
    line-height: 1;
    font-size: 12px;
    color: var(--myWhite);
    padding: 2px 4px;
    border-radius: 50%;
    background-color: var(--primary-green);
}

