body {
    background-color: #fafafa;
}
  
main{
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.container {
    max-width: 1200px;
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 0 1rem;
}

.product-images {
    flex: 1;
}

.main-image {
    min-width: 500px;
    max-height: 450px;
    margin-bottom: 1rem;
    padding: 10px;
    object-fit: contain;
    border-radius: 12px;
    background-color: #f8f8f8;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.main-image:hover {
    transform: scale(1.03);
}

.thumbnail-images {
    display: flex;
    gap: 0.5rem;
}

.thumbnail-images img {
    width: 90px;
    height: 90px;
    object-fit: cover;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: border-color 0.3s ease;
}

.thumbnail-images img.active {
    border-color: #0b0c0b;
}

.product-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product-title {
    font-size: 1.8rem;
    font-weight: 500;
    margin-bottom: 0.4rem;
}

.price,
.subtitle {
    margin: 3px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #171515;
}

select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.countquantity {
    display: flex;
    gap: 10px;
}

.countquantity button {
    padding: 0 15px;
    font-size: 1.2rem;
    cursor: pointer;

    border: none;
    border-radius: 5px;

    background-color: #717171;
    color: #fff;
}

.add-cart-btn {
    margin-top: 1rem;
    width: max-content;
    padding: 0.7rem 1.5rem;
    background-color: rgb(118, 118, 103);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.add-cart-btn:hover {
    background-color: rgb(129, 129, 79);
}

.wish-btn {
    background-color: rgb(184, 187, 187);
    color: #080404;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.wish-btn:hover {
    background-color: rgb(162, 171, 171);
}
