:root{
    --primary-green: #2c6e49;
    --secondary-green: #4c956c;
    --light-green: #94d2bd;
    --light-yellow: #EAE7B1;
    --myWhite : #fafafa;
}

*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a{
    text-decoration: none;
    color: var(--primary-green);
}

li{
    list-style-type: none;
}

.spacing{
    max-width: 1300px;
    margin: 0 auto;
}

body{
    /* font-family: 'Poppins',sans-serif;  */
    background-color: var(--myWhite);
    /* max-width: 1300px;
    margin: 0 auto; */
    overflow-x: clip;
    overflow-y: scroll;
}

main{
    width: 100%;
}

.login-modal
{       
    display: none;
    background-color: #fafafa;               /*SR = Seller Registration*/
    position: fixed;
    height: fit-content;
    width: 80%;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}

.login-modal input{
    border: 1px solid #ddd;
}

.login-modal input:focus{
    outline: none;
    border-color: #4c956c;

}

.login-modal, 
.register-modal{
    max-width: 400px;
}

.login-modal .close-btn{
    font-size: 1.3rem;
    position: relative;
    top: 45px;
    right: 8px;
    float: right;
}

.register-modal .close-btn
{
    position: relative;
    float: right;
    padding: 2px;
    font-size: 1.4rem;
    background: var(--primary-green);
    border: none;
    border-radius: 4px;
    color: var(--myWhite);
    cursor: pointer;
}

 .wishlist-modal .close-btn{ 
    color: rgb(24, 23, 23);
    cursor: pointer;
    border: none; 
    background-color: none;
    font-size: 15px;
    font-weight: 100;
} 

.wishlist-modal .close-btn{
    top: -5px;
    left: 12px;
}

.login-bar{
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-bar,
.register-bar{
    padding: 20px;
    height: 100%;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #fafafa;
    box-shadow: 2px 7px 6px rgba(0, 0, 0, 0.1);
}
/* Title styling */
.login-bar h1 {
    text-align: center;
    margin-bottom: 1.3em;
    color: #333;
    text-shadow: 2px 2px rgb(219, 212, 212);
}

.pass-error{
    color: rgb(218, 70, 70);
    float: right;
}

hr {
    margin: 10px 0;
    border: none;
    border-top: 1px solid #ddd;
}

/*Forms styling*/

input[type=email], 
input[type=password],
input[type=text],
input[type=tel]{
    width: 100%;
    padding: 15px;
    margin:5px 0;
    background-color: var(--myWhite); 
    border: 1px solid rgba(88, 85, 85,0.6);
    border-radius: 5px;
    font-size: 15px;
}

input[type=text]:focus,
input[type=email]:focus, 
input[type=password]:focus {
    border-color: var(--primary-green);
    outline: none;
}

.login-btn,
.buy-link,
.register-btn
{
    padding: 10px 20px;
    font-size: 1.1rem;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
}

.create-btn{
    display: inline;
    font-size: 1rem;
    padding: 15px;
    margin: 15px 80px;
}

.login-btn,
.buy-link,
.create-btn,
.register-btn{
    background-color: var(--secondary-green);
    color: #fff;
    border: none;
    border-radius: 5px; 
    cursor: pointer;
    transition: 0.3s ease;
}

.login-btn:hover,
.buy-link:hover,
.register-btn:hover,
.create-btn:hover{
    background-color: var(--primary-green);
}

.register-link {     
    display: inline-block;     
    font-size: 1rem;     
    padding: 10px;     
    background-color: var(--secondary-green);     
    color: #fff;     
    border: none;     
    border-radius: 5px;     
    cursor: pointer;     
    transition: 0.3s ease;     
    text-align: center;     
    margin: 20px 80px 0px 80px;     
    font-size: 18px; 
}


.back-link{
    margin-right: 60px;
}

.register-link:hover,
.back-link:hover {
    background-color: var(--primary-green);
}
#fp{
    display: block;
    margin-top: 5px;
    text-align: center;
    color: var(--secondary-green);
}

/*Hero section stylings*/
.hero-section {
    margin: 30px 0;
    width: 100%;
    height: 400px;
    border-radius: 20px;
    /* overflow: clip; */
    /* box-shadow: 10px 10px 25px rgba(7, 9, 8, 0.05); */
}

.hero-banner{
    position :relative;
    height: 450px;
}

.hero-banner img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: right;
}

.hbanner-content{
    display: flex;
    flex-direction: column;
    width: 38em;
    height: auto;
    position: relative;
    left: 40px;
    bottom: 320px;
    padding: 30px 20px;
    border-radius: 20px;
    background-color: var(--myWhite);
    box-shadow: 2px 10px 20px rgba(7, 52, 32, 0.05);
/* box-shadow: 2px 2px 1px #7D8D86; */

}

.hbanner-text h1{
    font-size: 48px;
    margin-bottom: 10px;
}

.hbanner-text p{
    font-size: 20px;
    font-weight: lighter;
}

.hbanner-links{
    margin-top: 30px;
}

.category-section,
.products-section,
.featured-section,
.dfeatured-section,
.cfeatured-secton,
.faq-section,
.footer-section{
    margin-top: 30px;
    padding: 10px;
    width: 100%;
    background-color: #fafafa;
    }

/* .faq-section{
    background-color: gainsboro;
} */

.featured-section .view-more,
.dfeatured-section .view-more,
.cfeatured-section .view-more{
    position: relative;
    float: right;
    top: 0;
}

.featured-items,
.dfeatured-items,
.cfeatured-items,
.product-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 20px;
    padding: 10px;
    gap: 10px;
    /* overflow: scroll; */
    /* scrollbar-width: none; */
    flex-wrap: wrap;
}

.featured-items .fitem,
.dfeatured-items .dfitem,
.cfeatured-items .cfitem,
.product-items .pitem{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 290px;
    width: 220px;
    border-radius: 20px;
    background-color: #f4f4f4;
    margin: 5px;
}

.featured-items .fitem:hover, 
.dfeatured-items .dfitem:hover,
.cfeatured-items .cfitem:hover,
.product-items .pitem:hover{
    box-shadow: 10px 10px 25px rgba(7, 9, 8, 0.05);
    
}

.fitem-img,
.dfitem-img,
.cfitem-img,
.pitem-img{
    height: 70%;
    width: 100%;
    overflow: hidden;
}

.fitem-img img,
.dfitem-img img,
.cfitem-img img,
.pitem-img img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: contain;
    object-position: center;
    border-radius: 20px;
}


.fitem-details,
.dfitem-details,
.cfitem-details,
.pitem-details{
    height: 30%;
    width: 100%;
    padding: 5px;
    text-align: center;
}

.fitem-details a,
.fitem-details p,
.dfitem-details a,
.dfitem-details p,
.cfitem-details a,
.cfitem-details p,
.pitem-details a,
.pitem-details p{
    font-size: 18px;
}


.price-action{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    gap: 10px;
    align-items: center;
}

.fitem-details .view-btn,
.dfitem-details .view-btn,
.cfitem-details .view-btn,
.pitem-details .view-btn{
    display: inline-block; 
    padding: 8px 10px;
    font-size: 0.9rem;
    color: var(--myWhite);
    background-color: #a4a4a4;
    border: none;
    border-radius: 5px;
    cursor: pointer; 
    transition: background-color 0.3s ease; 
}


.view-btn:hover,
.newsletter button:hover{
    cursor: pointer;
    background-color: var(--secondary-green);
}


.wishlist-icon,
.add-to-cart{
    position: absolute;
    float: right;
    right: 8px;
}

.wishlist-icon{
    top: 5px;
}

.wishlist-icon ion-icon{
    font-size: 1.7rem;
}

.add-wish{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    border-radius: 50%;
    /* box-shadow: 0 8px 5px rgba(0,0,0,0.1); */
    padding: 4px;
    cursor: pointer;
    transition: background ease-in-out;
}

.add-wish:hover{
    color: white;
    background-color: var(--secondary-green);
}

.category-items{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
    padding: 10px;
}

.category-items .citem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 130px;
    width: 170px;
    padding-top: 5px;
    border-radius: 20px;
    }

.citem img,
.fitem img,
.dfitem img,
.cfitem img{
    object-fit: contain;
    overflow: hidden;
    }

.citem a{
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    color: black;
    }

.citem a:hover{
    text-decoration: underline;
}

.lined-info{
    display: flex;
    flex-direction: column ;
    text-align: center;
    align-items: center;
    position: relative;
    margin: 100px 0px 40px 0px;
}

.lined-info h2{
    position: relative;
    /* z-index: 1; */
    color: var(--primary-green);
    background-color: var(--myWhite);
}

.lined-info::before{
    content: "";
    position: absolute;
    top: 30%;
    width: 100%;
    border-top: 1px solid black ;
    z-index: 0;
}

.dog-banner img,
.cat-banner img{
    height: 280px;
    width: 100%;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 25px 9px rgba(7, 52, 32, 0.05);
}

.cat-banner {
    margin-bottom: 30px;
}

.faq-section h2{
    font-size: 2rem;
    margin-top: 50px;
    color: var(--primary-green);
    background-color: var(--myWhite);
}

.faq-section h2,
.faq-section p{
    text-align: justify;
}




.faqs{
    margin-top: 40px;
    background-color: #f7f7f7;
    border-radius: 10px;
}

.faqs .panel{
    display: none;
    padding: 20px;
    font-weight: 100;
    /* border-bottom: 1px solid black; */
}

.faqs li{
    font-weight: 600;
    font-size: 18px;
}   

.show-arrow{
    float: right;
}

.accordion{
  /* background-color: #eee; */
  color: #444;
  cursor: pointer;
  margin-top: 20px;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.top-foot{
    display: flex;
    gap: 40px;
}

.about-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 800px;
}

.about-us p{
    font-weight: 300;
    /* color: red; */
}

.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    float: right;
    justify-content: center;
    margin-left: 30px;
    padding: 30px;
}

.newsletter button{
    margin-top: 5px;
    color: var(--myWhite);
    background-color: #a4a4a4;
    padding: 10px;
    font-size: 0.9rem;
    border: none;
    border-radius: 5px;
}

.footer-links{
    display: flex;
    flex-direction: row;
    margin-top: 5px;
    gap: 30px;
}

.footer-links li{
    list-style-type: none;
}

/* .loader {
    display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 40px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side,#205324 90%,#0000);
  background: 
    var(--_g) 0%   50%,
    var(--_g) 50%  50%,
    var(--_g) 100% 50%;
  background-size: calc(100%/3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
    20%{background-position:0%   0%, 50%  50%,100%  50%}
    40%{background-position:0% 100%, 50%   0%,100%  50%}
    60%{background-position:0%  50%, 50% 100%,100%   0%}
    80%{background-position:0%  50%, 50%  50%,100% 100%}
}

.loader div {
  animation-delay: 0.1s;
}

.loader::after {
  animation-delay: 0.2s;
} */


/* .toast {
    position: fixed;
    top: 13%;
    left: 45%;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    opacity: 0;
    z-index: 9999;
    transform: translateY(-60%);
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success { background-color: #4CAF50; }
.toast.error { background-color: #f44336; } */

.show-pass{
    /* float: right; */
    display:flex;
    /* justify-content: space-evenly; */
    gap: 5px;
    align-items: center;
    margin-top: 6px;
}

/* Overlay */
.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dim background */
  z-index: 998; /* just below modal */
}

/* Show overlay */
.modal-overlay.show {
  display: block;
}

/* Disable scroll when modal is open */
body.modal-open {
  overflow: hidden;
}
