/* .toast {
    position: fixed;
    top: 13%;
    left: 45%;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    opacity: 0;
    z-index: 9999;
    transform: translateY(-60%);
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success { background-color: #4CAF50; }
.toast.error { background-color: #f44336; } */

.toast {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    color: white;
    border-radius: 5px;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s, transform 0.5s;
}

.toast.show {
    opacity: 1;
    transform: translateX(0);
}

.toast.success { background-color: #4CAF50; }
.toast.error { background-color: #f44336; }