.wishlist-modal {
    display: none;
    position: fixed;
    top: 15%;
    left: 67%;
    transform: translateX(-50%);
    width: 450px;
    max-height: 300px;
    padding: 10px;
    border-radius: 12px;
    background-color: #fafafa;
    color: #333;
    overflow-y: scroll;
    scrollbar-width: none;
    border: 1px solid #eee;
    box-shadow: 0 5px 20px rgba(0,0,0,0.1);
    z-index: 999;
}

.wishlist-header {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 4%;
    margin: 10px;
    font-size: 20px;
    font-weight: bold;
}

.wishlists {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 0;
    border-bottom: 1px solid #444;
}

.wishlists:last-child {
    border-bottom: none;
}

.wish-info {
    padding: 14px;
    font-size: 16px;
}

.wish-actions button {
    margin-left: 5px;
    padding: 10px 10px;
    /* background: #444; */
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.wish-actions button:first-child {
    background: #fee;
    color: #d33;
}

.wish-actions button:first-child:hover {
    background: #fdd;
}

.wish-actions button:last-child{
    background: #e8f5e9;
    color: #2e7d32;
}

.wish-actions button:last-child:hover{
    background: #c8e6c9;
}

