* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;
}

body {
    margin: 0;
    height: 100vh;
    background: #fafafa;
}

.main-page {
    display: flex;
    justify-content: space-evenly;
    margin-top: 70px;
    gap: 100px;
    align-items: center;
}

.auth-info {
    max-width: 600px;
    text-align: justify;
}

.auth-info h2{
    color: #2c6e49;
    font-size: 2.8rem;
}

.auth-info p{
    font-size: 1.1rem;
}

/* Layout */
.auth-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.card {
    background: #fafafa;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    width: 390px;
}

/* Text */
h2 {
    margin: 0 0 8px;
    font-size: 24px;
}

.subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 24px;
}

/* Fields */
.field {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 13px;
    color: #444;
    margin-bottom: 6px;
}

input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ddd;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #4c956c;
}

/* Button */
button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #4c956c;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #2c6e49;
}

/* Footer */
.footer-text {
    margin-top: 20px;
    text-align: center;
    font-size: 1.1rem;
    color: #666;
}

.footer-text a {
    color: #1c267a;
    text-decoration: none;}